* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #0597f2;
    --secondary-color: #d9d9d9;

    --size-title: 16px;
    --font-size: 14px;

    /* tempo para aparecer a notificação */
    --time-notification: fadeInText 0s 2s both;
}



html,
body {
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ABRIR FAQ */
.faq-open {
    position: fixed;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
    z-index: 30;
}

.faq-open img {
    background-color: var(--primary-color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.close_chat svg {
    cursor: pointer;
}

/* notificação */

.notification {
    z-index: 40;
    animation: var(--time-notification);
}

@keyframes fadeInText {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.notification .popup {
    height: 20px;
    width: 20px;

    position: fixed;

    bottom: 90px;
    right: 40px;

    border-radius: 50%;
    color: #fff;
    background-color: red;

    font-size: 6px;
    text-align: center;
}

.notification .text {
    width: 120px;
    min-height: 20px;

    color: #fff;
    background-color: var(--primary-color);

    font-size: 12px;
    text-align: center;
    line-height: 23px;
    border-radius: 20px 20px 0px 20px;

    position: fixed;
    bottom: 90px;
    right: 93px;
}


/* FAQ */
.faq {
    height: 100%;
    width: 100%;
}

/* CHAT onde contem as perguntas */
/* PAGINA 1 */
.chat-questions {
    display: none;
    height: 100%;
    width: 100%;
    background: var(--secondary-color);
}

.chat-questions .header {
    height: 100px;
    width: 100%;

    background-color: var(--primary-color);

    display: flex;

    justify-content: center;
}

.chat-questions .header .details {
    height: 65px;
    width: 80%;
    display: flex;
    align-items: center;
}

.chat-questions .header img {
    height: 45px;
    width: 45px;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.chat-questions .header h3 {
    padding: 5px;
    color: #fff;
    font-size: var(--font-size);

}

.chat-questions .header .close_chat {
    display: flex;
    height: 65px;
    align-items: center;
    justify-content: center;
}

.chat-questions .title {
    height: 60px;
    width: 100%;
    background-color: #fff;
    color: var(--primary-color);

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    position: relative;
    z-index: 10;
    margin-top: -35px !important;
}

.chat-questions .title h1 {
    font-size: var(--size-title);
}

/* BARRA DE SCROLL */
::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 3px;
}

/* CARDS */
.chat-questions .group-cards {
    height: 80%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;

    border: 1px solid var(--secondary-color);
}

.chat-questions .group-cards .cards {
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.chat-questions .group-cards .card {
    min-height: 70px;
    width: 100%;
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 6px;
    border-left: 3px solid var(--secondary-color);
    border-right: 2px solid var(--secondary-color);
    border-bottom: 3px solid var(--secondary-color);
    border-top: 3px solid var(--secondary-color);

    cursor: pointer;
}

.chat-questions p {
    color: rgba(0, 0, 0, 0.6);
    font-size: var(--font-size);
    line-height: 0px;
}

.chat-questions .group-cards .last-cards {
    min-height: 70px;
    width: 100%;
    background-color: var(--primary-color);

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    cursor: pointer;
}

.chat-questions .group-cards .last-cards p {
    color: #fff;
}

/* CONTATO */

.contatos {
    display: none;

    height: 100%;
    width: 100%;

    z-index: 20;

    background-color: var(--primary-color);
}

.contatos .header-contato {
    height: 63px;
    padding: 0 25px;

    display: flex;
    justify-content: start;
    align-items: center;
}

.contatos .header-contato svg {
    cursor: pointer;
}

.contatos .container {
    width: 100%;
    height: calc(100% - 63px);

    display: flex;
    justify-content: center;

}

.contatos .container .details {
    width: 90%;

    padding: 5%;


    display: flex;
    align-items: center;
    flex-direction: column;
}


.contatos .details h1 {
    margin-top: -20px;
    width: 80%;
    text-align: center;
    text-transform: uppercase;

    font-size: var(--size-title);
    color: #fff;
}

.contatos .details P {
    margin-top: 10px;
    width: 80%;
    text-align: center;
    color: #fff;

    font-size: 12px;
}

.contatos .details .qrcode {
    margin-top: 10px;
    background-color: #fff;
    height: 180px;
    width: 180px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 15px;
}

.contatos .details .qrcode img {
    height: 130px;
    width: 130px;
}

.contatos .details button {
    width: 200px;
    height: 30px;

    margin-top: -40px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    background-color: transparent;

    border: none;
}

.contatos .details button a {
    height: 30px;
    width: 30px;
    border-radius: 50%;

    background-color: #fff;
    color: var(--primary-color);

    display: flex;
    align-items: center;

    cursor: pointer;
}


/* PAGINA 2 */

.chat-answers {
    display: none;
    height: 400px;
    width: 320px;
    background: var(--secondary-color);
    border-radius: 10px 10px 0px 0px;
}


/* ----- header ----- */
.chat-answers {
    display: none;
    height: 100%;
    width: 100%;
    background: var(--secondary-color);
}

.chat-answers .header-answers {
    height: 63px;
    width: 100%;
    background-color: var(--primary-color);

    display: flex;
    align-items: center;
    justify-content: space-around;

    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.38);
}

.chat-answers .header-answers .svg {
    height: 40px;
    width: 40px;
}

.chat-answers .header-answers svg {
    cursor: pointer;
}

.chat-answers .header-answers p {
    font-size: 12px;
    color: #fff;

}

.chat-answers .header-answers .details {
    text-align: center;
}

.chat-answers .header-answers div h3 {
    font-size: var(--font-size);
    color: #fff;
}

.chat-answers .header-answers img {
    height: 40px;
    width: 40px;
}

.chat-box {
    background-image: url(assets/backgroundw.png);
    height: calc(100% - 63px);
    position: relative;
    padding: 5px 15px 10px 15px;
    box-shadow: inset 0 16px 16px -16px rgb(0 0 0 / 5%),
        inset 0 -16px 16px -16px rgb(0 0 0 / 5%);
}

.chat-box .text {
    position: absolute;
    top: 45%;
    left: 50%;
    width: calc(100% - 25px);
    text-align: center;
    transform: translate(-50%, -50%);
}

.chat-box .chat {
    margin: 10px 0;
}

.chat-box .chat p {
    word-wrap: break-word;
    padding: 4px 8px;
    box-shadow: 0 0 16px rgb(0 0 0 / 8%), 0rem 8px 8px -8px rgb(0 0 0 / 10%);
}

/* ----- ENVIADAS ----- */
@keyframes fadeInText {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.chat-box .outgoing {
    display: flex;
    opacity: 0;
    animation: fadeInText 0s 0.1s both;
}

.chat-box .outgoing .details {
    margin-left: auto;
    max-width: calc(100% - 130px);
}

.chat-box .outgoing .details p {
    min-height: 45px;
    padding: 0 20px 0 20px;

    background: var(--primary-color);
    color: #fff;

    font-size: 12px;
    text-align: center;
    border-radius: 20px 20px 0 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----- RECEBIDAS ----- */
.chat-box .incoming {
    display: flex;
    align-items: flex-end;
    animation: fadeInText 0s 0.8s both;
}

.chat-box .incoming img {
    height: 17px;
    width: 17px;
    border-radius: 50%;
}

.chat-box .incoming .details {
    margin-right: auto;
    margin-left: 5px;
    max-width: calc(100% - 130px);
}

.chat-box .incoming .details p {
    min-height: 40px;
    padding: 20px;

    background: #fff;
    color: #333;

    font-size: 12px;
    text-align: left;
    line-height: 23px;
    border-radius: 20px 20px 20px 0px;
}

/* DESKTOP */
@media (min-width: 700px) {
    .faq {
        z-index: 10;
        height: 400px;
        width: 320px;

        position: fixed;
        bottom: 40px;
        right: 40px;
    }

    /* page1 */
    .chat-questions {
        border-radius: 10px 10px 0px 0px;
    }

    .chat-questions .header {
        border-radius: 10px 10px 0px 0px;
    }

    .chat-questions .group-cards {
        height: 274px;
    }

    .chat-answers {
        border-radius: 10px 10px 0px 0px;
    }

    .chat-answers .header-answers {
        border-radius: 10px 10px 0px 0px;
    }
}